<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="showing" align='center' border='1' cellspacing='0'>
    <p shiro:authenticated>
        <span class="desc">你好，<span shiro:principal/>
        <a th:href="@{/doLogout}">退出</a><br>
        </span>
    </p>
    <a th:href="@{/listProduct}">查看产品</a><br>
    <a th:href="@{/deleteProduct}">删除产品</a><br>
    <a th:href="@{/deleteOrder}">删除订单</a><br>
</div>
</body>
</html>